* {
  /* margin-top: 110px; */
  padding: 0px;
  background-color: black;
  z-index: 0;
  /* width: 100vw; */
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

.body-container {
  display: flex;
  flex-direction: column;
  /* border:1px solid wheat;  */
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section-banner {
  margin: 20px 50px 30px;
  /* border:1px solid wheat; */
  width: 1200px;
  /* height: 550px; */
}

.advertsing-section {
  /* border: 1px solid pink; */
  /* display: flex; */
  /* justify-content: flex-start; */
  /* height: 700px; */
  width: 1200px;
  margin-top: 70px;
  margin-bottom: 140px;
}
