.header-main {
  /* border: 3px solid rgb(255, 0, 251); */
  background-color: #000000;
  z-index: 2;
  width: 100%;
  height: 110px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.logo-container {
  display: flex;
  /* margin-left: 50px; */
  /* margin-top: -20px; */
  /* size: 90px; */
  /* width: 90px; */
  color: white;
  /* justify-content: space-around; */
  /* border: 2px solid rgb(174, 0, 255); */
  cursor: pointer;
}

.navigation-tags {
  display: flex;
  width: 80%;
  /* border: 1px solid rgb(243, 81, 81); */
  /* margin-left: 150px; */
  justify-content: space-around;
  align-items: center;
}

.header-contents {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid rgb(243, 255, 12); */
  /* margin-left: 3%; */
}

.navigation-menu {
  display: flex;
  width: 65%;
  color: white;
  /* margin-right: 5%; */
  justify-content: space-between;
  /* border: 2px solid rgb(255, 1, 238); */
}

.clothing-container {
  /* border: 1px solid white; */
  font-size: 20px;
  /* background-color: white; */
  /* border-radius: 42px; */
  display: flex;
  /* padding: 5px 10px; */
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.electronics-container {
  /* border: 1px solid white; */
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.accessories-container {
  /* border: 1px solid white; */
  font-size: 20px;
  display: flex;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  /* margin-left: 30%; */
  align-items: center;
  width: 30%;
  /* border: 1px solid white; */
  /* padding: 3px; */
}

.search-box{
  box-shadow: 10 10 5px rgba(100, 50, 60, 9);
  background-color: white;
  border-radius: 5px;
  border: none;
  width: 85%;
  height: 40px;
}

.search-logo {
  /* margin-top: 5px; */
  font-weight: bold;
}

.login-signup-section {

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 5px; */
  /* border: 2px solid green; */
  /* margin-right: 100px; */
  /* height: 50px; */
  width: 15%;
}

.login-section {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  font-family: "Hind Siliguri", sans-serif;
  width: 65px;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

.or-section {
  color: white;
}

.signup-section {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  cursor: pointer;
  font-family: "Hind Siliguri", sans-serif;
  width: 70px;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  border-radius: 10px;
  color:black;
}

.profile-section{
  /* border:1px solid white; */
}
