.header-main {
  /* border: 3px solid rgb(255, 0, 251); */
  background-color: #000000;
  z-index: 2;
  width: 100%;
  height: 110px;
  align-items: center;
  display: flex;
}

.navigation-tags {
  display: flex;
  width: 85%;
  /* border: 1px solid rgb(243, 81, 81); */
  justify-content: center;
}

.header-contents {
  display: flex;
  width: 70%;
  justify-content: center;
  justify-content: space-around;
  /* border: 2px solid rgb(243, 255, 12); */

}

.navigation-menu {
  display: flex;
  width: 70%;
  color: white;
  justify-content: space-between;
  /* border: 2px solid rgb(255, 1, 238); */
}

.logo-container {
  display: flex;
  margin-left: 30px;
  /* margin-top: -20px; */
  /* size: 90px; */
  width: 90px;
  color: white;
  justify-content: space-around;
  /* border: 2px solid rgb(174, 0, 255); */
  cursor: pointer;
}

.shopping-bag {
  z-index: 0;
  padding-left: -20px;
  position: relative;
  color: white;
}
.shopping-cart {
  position: absolute;
  padding-top: 30px;
  padding-left: 74px;
  z-index: 1;
  /* color: red; */
}

.clothing-container {
  /* border: 1px solid white; */
  font-size: 20px;
  /* background-color: white; */
  /* border-radius: 42px; */
  display: flex;
  /* padding: 5px 10px; */
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.electronics-container {
  /* border: 1px solid white; */
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.accessories-container {
  /* border: 1px solid white; */
  font-size: 20px;
  display: flex;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.search-container {
  color: white;
  cursor: pointer;
  /* border: 1px solid white; */

}

.search-logo {
  font-weight: bold;
}
