.single-product {
    display: flex;
    flex-direction: column;
    color: white;
    height: 476px;
    width: 275px;
    /* border:1px solid white; */
    align-items: center;
    margin-left: 30px;
  }
  
  .product-image {
    /* border: 1px solid white; */
    height: 385px;
    width: 275px;
  }
  
  .product-title {
    margin-top: 15px;
    text-decoration: none;
  }
  .product-deal-price {
    margin-top: 3px;
    text-decoration: none;
  }